body {
    background-color:  darkkhaki;
}

#bt {
border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: chartreuse;
    color: darkblue;
font-weight: bold;
width: 200px;
margin-bottom: 5px;
border-radius: 5px;
}